* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #00d394;
    margin-bottom: 2vh;
}
.nav__link {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}
.nav__link:hover {
    background-color: #119870;
}

.main {
    padding: 3%;
    max-width: 800px;
    margin: auto;
}
.title {
    font-size: 2rem;
    text-align: center;
    margin: 10px 0;
}
.content {
    margin: 20px 0;
}
.subtitle {
    font-size: 1.5rem;
    margin: 5px 0;
}
